.quiz-blank-answer {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__content {
    margin-bottom: 20px;
  }
  p {
    font: 18px/22px "Regular SF Compact Rounded", sans-serif;
    color: #333;
  }
  input {
    height: 30px;
    text-align: center;
    margin: 0 5px;
    border: none;
    border-bottom: 2px solid #000;
    font: 18px/22px "Bold SF Compact Rounded", sans-serif;
    color: #333;
    outline: none;
    width: 100px;
  }
  input:focus:not(.blank--correct, .blank--incorrect) {
    background: #daf2fa;
    border-bottom: 2px solid #45cbfa;
  }
  .blank--correct {
    background: #cefdd5;
    border-bottom: 2px solid #2acb42;
    color: #2acb42;
  }
  .blank--incorrect {
    background: #ffcfcc;
    border-bottom: 2px solid #ff3b30;
    color: #ff3b30;
  }
}
