.quiz-connect {
  position: relative;
  svg {
    position: absolute;
    height: 100%;
    .line--selected {
      stroke: #45cbfa;
    }
    .line--correct {
      stroke: #2acb42;
    }
    .line--incorrect {
      stroke: #ff3b30;
    }
  }
}
