body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Regular SF Compact Rounded";
  src: url("https://r73troypb4obj.vcdn.cloud/web/fonts/SF-Compact-Rounded-Regular.ttf")
    format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Medium SF Compact Rounded";
  src: url("https://r73troypb4obj.vcdn.cloud/web/fonts/SF-Compact-Rounded-Medium.ttf")
    format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Semibold SF Compact Rounded";
  src: url("https://r73troypb4obj.vcdn.cloud/web/fonts/SF-Compact-Rounded-Semibold.ttf")
    format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Bold SF Compact Rounded";
  src: url("https://r73troypb4obj.vcdn.cloud/web/fonts/SF-Compact-Rounded-Bold.ttf")
    format("truetype");
  font-weight: 700;
}
